@media (min-width:320px) and (max-width:480px){
    .activities-container{
        margin-top:170px;
    }
    .activities-head-pic{
        width: 250px
    }
    
}
@media (min-width:481px) and (max-width:640px){
    .activities-container{
        margin-top:170px;
    }
    .activities-head-pic{
        width: 350px
    }
  
}
@media (min-width:641px) and (max-width:1110px){
    .activities-container{
        margin-top:170px;
    }
    .activities-head-pic{
        width: 400px
    }
}
@media (min-width:1111px) {
    .activities-container{
        margin-top:270px;
    }
    .activities-head-pic{
        width: 400px
    }
}
.activities_col{
    border: #f6a619 solid 2px;
    display: flex;
    align-items: center;
    padding: 0px;
    height: 85%;
    width:220px;
    margin: 15px auto 15px auto;
}
.activities-landescape-picture{    
    height:150px;
    width:240px;
    position: relative;
    top:50px;
    z-index: 2;
    left: 13px;
    /* transition: opacity 0.2s,0.2s; */
}
.activities-landescape-picture:hover {
    filter: grayscale(50%)
}
.activities-landescape-picture:hover + .activities-title{
    z-index: 3;
}
.activities-title{
    position: relative;
    bottom: 40px;
    background-color: black;
    border-radius: 20px;
    color: white;
    z-index: 1;
    text-align: center;
    width: 80%;
    margin-right: 10px;
    padding: 5px;

}
.activities-title:hover{
    z-index: 3;
}

.activities-portrait-picture{
    display: inline-block;
    height:250px;
    min-width:95%;
    max-width:95%;
    position: relative;
    right: 5px;
    bottom: 10px;
    z-index: 2;
    /* transition: filter 0.1s,0.1s; */
}
.activities-portrait-picture:hover{
    /* opacity: 0.8; */
    filter: grayscale(50%)
}
.activities-portrait-picture:hover + .activities-portrait-title{
    z-index: 3;
}

.activities-portrait-title{
    position: relative;
    bottom: 140px;
    right: 10px;
    background-color: black;
    border-radius: 20px;
    color: white;
    z-index: 1;
    text-align: center;
    width: 80%;
    margin-right: 10px;
    padding: 5px;
}
.activities-portrait-title:hover{
    z-index: 3;
}