/* nastaligh font */
@font-face {
  font-family: "IranNastaliq";
  src: url("../fonts/Nast/IranNastaliq.eot?#") format("eot"),
    url("../fonts/Nast/IranNastaliq.ttf") format("truetype"),
    url("../fonts/Nast/IranNastaliq.woff") format("woff");
}
@media only screen and (min-width:320px ) and (max-width: 350px) {
  /* slider */
  .SlideShow{
    display: none;
  }
  #sliderLink {
    display: inline-block;
    width: 80%;
    background-color: #414548;
    text-decoration: none;
    padding-top: 7px;
    border-radius: 30px;
    font-size: 14px;
    opacity: 0.8;
  }
  .rotate-background {
    position: absolute;
    left: -300px;
    width: 560px;
    height: 370px;
    transform: rotate(45deg);
    z-index: -1;
  }
   /* Sweing Card */
  .sweing-container {
    position: relative;
    top: 10px;
    width: 300px;
    overflow: hidden;
  }
  .front-label {
    width: 95px;
    height: 95px;
  }
  .back-label {
    width: 100px;
    height: 100px;
  }
  .sweing-activity {
    position: relative;
    right:27%;
    bottom: 17%;
  }
  .sweing-news {
    position: relative;
    left: 4px;
    top: 62px;
  }
  .sweing-register {
    position: relative;
    left: 77px;
    top:27px;
  }
  .sweing-representation {
    position: relative;
    right: 7px;
    bottom:128px;
  }
  .label-text1 {
    transform: rotate(-45deg);
    font-family: "IranNastaliq";
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-left: 18px;
    padding-top: 0px;
  }

  /* motto */
  .motto-heighr-container{
    margin-top: 60px;
    padding-right: 10px;
    position: relative;
    bottom: 30px;
  }
  .main-motto-border{
    width: 100%;
  }
  .main-motto-border {
    float: right;
    width:90%;
    padding: 5px;
    height: 100px;
  }
  .motto-content {
    padding: 5px;
    height: 95px;
    margin-top: 5px;
    margin-right: 5px;
    width: 90%;
  }
  .motto-picture{
    height:85px;
  }
  /* news teller */
  .News-teller-container {
    margin-top: 40px;
  }
  .News-black-border {
    height: 70px;
    position: relative;
    bottom: 45px;
    margin:0px 10px;
    left: 5px;
  }
  .News-teller-title{
    margin-right: 20px;
  }
  .News-teller-red-border{
    margin-right:20px;
    margin-left: 5px;
  }
}
@media only screen and (min-width:350px ) and (max-width: 400px) {
  /* slider */
  .SlideShow{
    display: none;
  }
  #sliderLink {
    display: inline-block;
    width: 80%;
    background-color: #414548;
    text-decoration: none;
    padding-top: 7px;
    border-radius: 30px;
    font-size: 14px;
    opacity: 0.8;
  }
  .rotate-background {
    position: absolute;
    left: -300px;
    width: 580px;
    height: 380px;
    transform: rotate(45deg);
    z-index: -1;
  }
   /* Sweing Card */
   .sweing-container {
    position: relative;
    top:3%;
    width: 300px;
    overflow: hidden;
  }
  .front-label {
    width: 95px;
    height: 95px;
  }
  .back-label {
    width: 100px;
    height: 100px;
  }
  .sweing-activity {
    position: relative;
    right:27%;
    bottom: 17%;
  }
  .sweing-news {
    position: relative;
    left: 4px;
    top: 62px;
  }
  .sweing-register {
    position: relative;
    left: 77px;
    top:27px;
  }
  .sweing-representation {
    position: relative;
    right: 7px;
    bottom:128px;
  }
  .label-text1 {
    transform: rotate(-45deg);
    font-family: "IranNastaliq";
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-left: 18px;
    padding-top: 0px;
  }
  /* motto */
  .motto-heighr-container{
    padding-right: 10px;
    position: relative;
    bottom: 10px;
  }
  .main-motto-border {
    float: right;
    width:79%;
    padding: 5px;
    height: 100px;
  }
  .motto-content {
    height: 95px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    width: 90%;
  }
  .motto-picture{
    height:85px;
  }
   /* news teller */
   .News-teller-container {
      width: 100%;
      margin-top: 50px;
    }
   .News-black-border {
    height: 70px;
    position: relative;
    bottom: 45px;
    margin:0px 10px;
    left: 5px;
  }
  .News-teller-title{
    margin-right: 20px;
  }
  .News-teller-red-border{
    margin-right:20px;
    margin-left: 5px;
  }

}
@media only screen and (min-width:400px ) and (max-width: 480px) {
  /* slider */
  .SlideShow{
    display: none;
  }
  #sliderLink {
    display: inline-block;
    width: 80%;
    background-color: #414548;
    text-decoration: none;
    padding-top: 7px;
    border-radius: 30px;
    font-size: 14px;
    opacity: 0.8;
  }
  .rotate-background {
    position: absolute;
    left: -350px;
    width: 650px;
    height: 400px;
    transform: rotate(45deg);
    z-index: -1;
  }

   /* Sweing Card */
   .sweing-container {
    position: relative;
    top:45px;
    width: 300px;
    overflow: hidden;
  }

  .front-label {
    width: 95px;
    height: 95px;
  }
  .back-label {
    width: 100px;
    height: 100px;
  }
  .sweing-activity {
    position: relative;
    right:27%;
    bottom: 17%;
  }
  .sweing-news {
    position: relative;
    left: 4px;
    top: 62px;
  }
  .sweing-register {
    position: relative;
    left: 77px;
    top:27px;
  }
  .sweing-representation {
    position: relative;
    right: 7px;
    bottom:128px;
  }
  .label-text1 {
    transform: rotate(-45deg);
    font-family: "IranNastaliq";
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-left: 18px;
    padding-top: 0px;
  }

  /* motto */
  .motto-heighr-container{
    padding-right: 10px;
    position: relative;
    bottom: 10px;
  }
  .main-motto-border{
    width: 100%;
  }
  .main-motto-border {
    float: right;
    width:70%;
    padding: 5px;
    height: 100px;
  }
  .motto-content {
    height: 95px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    width: 90%;
  }
  .motto-picture{
    height:85px;
  }
  /* news teller */
  .News-teller-container {
    margin-top: 50px;
    width: 100%;
  }
  .News-black-border {
    height: 70px;
    position: relative;
    bottom: 45px;
    margin:0px 10px;
    left: 5px;
  }
  .News-teller-title{
    margin-right: 20px;
  }
  .News-teller-red-border{
    margin-right:20px;
    margin-left: 5px;
  }

}
@media only screen and (min-width:480px ) and (max-width: 565px){
    /* slider */
    .SlideShowMobile{
      display: none;
    }
    /* Slider Links */
    #sliderLink {
      position: absolute;
      top: 70px;
      left: 0px;
      width:120px;
      background-color: #414548;
      text-decoration: none;
      border-radius: 30px;
      font-size: 14px;
      opacity: 0.7;
    }
    .rotate-background {
      position: absolute;
      left: -150px;
      width: 500px;
      height: 500px;
      transform: rotate(45deg);
      z-index: -12;
    }
     /* Sweing Card */
   .sweing-container {
      position: relative;
      top:10px;
      left:90px;
      width: 300px;
    }
    .front-label {
      width: 95px;
      height: 95px;
    }
    .back-label {
      width: 100px;
      height: 100px;
    }
    .sweing-activity {
      position: relative;
      right:27%;
      bottom: 17%;
    }
    .sweing-news {
      position: relative;
      left: 4px;
      top: 62px;
    }
    .sweing-register {
      position: relative;
      left: 77px;
      top:27px;
    }
    .sweing-representation {
      position: relative;
      right: 7px;
      bottom:128px;
    }
    .label-text1 {
      transform: rotate(-45deg);
      font-family: "IranNastaliq";
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      padding-left: 18px;
      padding-top: 0px;
    }
    /* motto */
    .motto-heighr-container{
      padding-right: 10px;
      position: relative;
      top:10px;
    }
    .main-motto-border {
      float: right;
      width:70%;
      padding: 5px;
      height: 100px;
    }
    .motto-content {
      padding: 5px;
      height: 95px;
      margin-top: 5px;
      margin-right: 5px;
      width: 90%;
    }
    .motto-picture{
      height:85px;
    }
    /* news teller */
    .News-teller-container {
      margin-top:40px;
      width: 100%;
    }
    .News-black-border {
      height: 70px;
      position: relative;
      bottom: 45px;
      margin:0px 10px;
      left: 5px;
    }
    .News-teller-title{
      margin-right: 20px;
    }
    .News-teller-red-border{
      margin-right:20px;
      margin-left: 5px;
    }
}
@media only screen and (min-width:565px ) and (max-width: 800px){
  /* slider */
  .SlideShowMobile{
    display: none;
  }
  /* Slider Links */
  #sliderLink {
    position: absolute;
    top: 70px;
    left: 0px;
    width:120px;
    background-color: #414548;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    opacity: 0.7;
  }
  .rotate-background {
    position: absolute;
    left: -150px;
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    z-index: -12;
  }
   /* Sweing Card */
 .sweing-container {
    position: relative;
    top:10px;
    left:130px;
    width: 300px;
  }

  .front-label {
    width: 95px;
    height: 95px;
  }
  .back-label {
    width: 100px;
    height: 100px;
  }
  .sweing-activity {
    position: relative;
    right:27%;
    bottom: 17%;
  }
  .sweing-news {
    position: relative;
    left: 4px;
    top: 62px;
  }
  .sweing-register {
    position: relative;
    left: 77px;
    top:27px;
  }
  .sweing-representation {
    position: relative;
    right: 7px;
    bottom:128px;
  }
  .label-text1 {
    transform: rotate(-45deg);
    font-family: "IranNastaliq";
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-left: 18px;
    padding-top: 0px;
  }
   /* motto */
   .motto-heighr-container{
    padding-right: 10px;
    position: relative;
    top:10px;
  }
  .main-motto-border {
    float: right;
    width:60%;
    padding: 5px;
    height: 130px;
  }
  .motto-content {
    padding: 5px;
    padding-top:25px;
    height: 125px;
    margin-top: 5px;
    margin-right: 5px;
    width: 90%;
  }
  .motto-content-text{
    font-size: 20px;;
  }
  .motto-picture{
    height:115px;
  }
   /* news teller */
   .News-teller-container {
    margin-top:40px;
    width: 80%;
  }
  .News-black-border {
    height: 70px;
    position: relative;
    bottom: 45px;
    margin:0px 10px;
    left: 5px;
  }
  .News-teller-title{
    margin-right: 20px;
  }
  .News-teller-red-border{
    margin-right:20px;
    margin-left: 5px;
  }
}
@media only screen and (min-width:800px ) and (max-width: 975px){
  /* slider */
  .SlideShowMobile{
    display: none;
  }
   /* Slider Links */
   #sliderLink {
    position: absolute;
    top: 70px;
    left: 0px;
    width:120px;
    background-color: #414548;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    opacity: 0.7;
  }
  .rotate-background {
    position: absolute;
    left: -150px;
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    z-index: -12;
  }
  /* Sweing Card */
  .sweing-container {
    float: left;
    position: relative;
    top:10px;
    left:190px;
    width: 300px;
  }
  .front-label {
    width: 95px;
    height: 95px;
  }
  .back-label {
    width: 100px;
    height: 100px;
  }
  .sweing-activity {
    position: relative;
    right:27%;
    bottom: 17%;
  }
  .sweing-news {
    position: relative;
    left: 4px;
    top: 62px;
  }
  .sweing-register {
    position: relative;
    left: 77px;
    top:27px;
  }
  .sweing-representation {
    position: relative;
    right: 7px;
    bottom:128px;
  }
  .label-text1 {
    transform: rotate(-45deg);
    font-family: "IranNastaliq";
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-left: 18px;
    padding-top: 0px;
  }
  /* motto */
  .motto-heighr-container{
    padding-right: 10px;
    position: relative;
    top:190px;
  }
  .main-motto-border {
    float: right;
    width:40%;
    padding: 5px;
    height: 130px;
  }
  .motto-content {
    padding: 5px;
    padding-top:25px;
    height: 125px;
    margin-top: 5px;
    margin-right: 5px;
    width: 90%;
  }
  .motto-content-text{
    font-size: 20px;;
  }
  .motto-picture{
    height:115px;
  }
  .News-teller-container {
    position: relative;
    top: 160px;;
    margin-top: 100px;
    width: 50%;
  }
  .News-black-border {
    left: 40px;
    width: 88%;
  }
  .News-teller-title{
    margin-right: 35px;
  }
  .News-teller-red-border{
    margin-right: 35px
  }
}
@media only screen and (min-width: 976px) {
    /* slider */
  .SlideShowMobile{
    display: none;
  }
  /* Slider Links */
  #sliderLink {
    width: 250px;
    background-color: #414548;
    position: absolute;
    left: 50px;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 30px;
  }
  .rotate-background {
    position: absolute;
    left: -150px;
    width: 600px;
    height: 500px;
    transform: rotate(45deg);
    z-index: -12;
  }
  /* Sweing Card */
  .sweing-container {
    float: left;
    width: 60%;
  }
  .front-label {
    
    width: 130px;
    height: 130px;
  }
  .back-label {
    width: 130px;
    height: 130px;
  }
  .sweing-activity {
    position: relative;
    left:28px;
    bottom: 90px;
  }
  .sweing-news {
    position: relative;
    left: 160px;
    top: 60px;
  }
  .sweing-register {
    position: relative;
    left: 257px;
    top: 49px;
  }
  .sweing-representation {
    position: relative;
    left: 125px;
    bottom:100px;
  }
  .label-text1 {
    transform: rotate(-45deg);
    font-family: "IranNastaliq";
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    padding-top: 5px;
  }
  /* motto */
  .motto-container {
    float: right;
    width: 40%;
    height: 100%;
    padding-top: 170px;
    padding-right: 50px;
  }
  .main-motto-border {
    height: 195px;
    padding: 5px;
  }
  .motto-content {
    height: 180px;
    margin-top: 20px;
    margin-right: 5px;
    width: 90%;
    padding: 40px 20px 0px 20px;
  }
  .motto-content-text{
    font-size: 27px;;
  }
  .News-teller-container {
    margin-top: 100px;
    width: 600px;
  }
  .News-black-border {
    left: 40px;
    width: 580px;
  }
  .News-teller-title{
    margin-right: 35px;
  }
  .News-teller-red-border{
    margin-right: 35px
  }
  .News_Letter_btn{
    width:100px;
  }
}
/* Between part */
.main-part {
  height: 656px;
}
.rotate-background {
  background-image: url("../picture/assets/back.svg");
  background-size: cover;
  background-position: center;
  background-size: 1500px 1500px;
  background-repeat: no-repeat;
}
/* Sweing Card */
.sweing-container {
  height: 600px;
  padding-top: 55px;
}
.flip-card {
  background-color: transparent;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 400px !important;
}
.flip-card-inner {
  width: 100px;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  z-index: 1;
}
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  z-index: 1;
}
.front-label {
  background-color: white;
  transform: rotate(45deg);
  padding-top: 37px;
  border: solid black 3px;
}
.back-label {
  background-color: #790000;
  transform: rotate(45deg);
  padding-top: 37px;
  border: solid black 3px;
}
.main-motto-border {
  border: 3px solid black;
}
.motto-content {
  border: 3px solid #f6a619;
  float: right;
}
/* News-teller */
.News-teller-container {
  float: right;
  height: 180px;
}

.News-black-border {
  background-color: black;
  height: 70px;
  position: relative;
  bottom: 45px;
}
.News-corner-img {
  transform: rotate(180deg);
  height: 50px;
  float: left;
  margin-top: 18px;
  margin-left: 2px;
  position: relative;
  bottom:70px;
}

.News_Letter_input{
  height: 70px;
  background-color: inherit;
  border-style: none;
  color: white;
  direction: rtl;

}
.News_Letter_input:focus {
  outline: none;
}
.News_Letter_btn:focus{
  outline: none;
}
.News_Letter_btn{
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  border-color: #790000;
  background-color: #ce8a11;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

/* History Menu */

.History-Main {
  direction: rtl;
}
