.Representaion-container{
    margin-top:250px;
    margin-bottom:100px;
    direction:rtl;
}
.Representaion-border{
    border-right: solid 5px #f6a619;
    border-bottom: solid 5px #f6a619;
    height: 280px;
    padding-right:7px;
}
.Representaion-content-container{
    position: relative;
    bottom: 10px;
    height: 270px;
    width:200px;
    margin: 3px;
    border: solid 3px #790000;
}
.representaion-element{
    display: inline-block;
    margin: 10px 7px 0pc auto;
    width:90%;
}
.Representaion-title{
    font-family: "IranNastaliq";
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
}
.Representaion-read-more{
    position: absolute;
    bottom: 3px;

}
.Representaion-info-container{
    position: absolute;
    bottom: 40px;
}
.Representaion-read-more-container{
    margin-top:180px;
    margin-bottom:100px;
    direction:rtl;
}

.Representaion-authorities-image{
    position: absolute;
    top: 1500px;
    left: 0px;
    opacity: 0.8;
    height: 450px;
}
.Representaion-authorities-title{
    position: absolute;
    top: 1775px;
    left: 140px;
    z-index: 11;
}