@media (min-width:320px) and (max-width:380px){
    .search-main-container{
        margin-top: 100px;
    }    
    .fa-long-arrow-alt-left{
        font-size: 25px;
    }
    .search-read-more-link-cont{
        width: 150px;
        bottom: 15px;
    }
    .search-black-border{
        width:50%;
        margin-top: 5px;
    }
}
@media (min-width:381px) and (max-width:480px){
    .search-main-container{
        margin-top: 100px;
    }    
    .fa-long-arrow-alt-left{
        font-size: 25px;
    }
    .search-read-more-link-cont{
        width: 150px;
        bottom: 15px;
    }
    .search-black-border{
        width:60%;
        margin-top: 5px;
    }
}
@media (min-width:481px) and (max-width:600px){
    .search-main-container{
        margin-top: 100px;
    }    
    .fa-long-arrow-alt-left{
        font-size: 25px;
    }
    .search-read-more-link-cont{
        width: 150px;
        bottom: 15px;
    }
    .search-black-border{
        width:70%;
        margin-top: 5px;
    }
}
@media (min-width:601px) and (max-width:1110px){
    .search-main-container{
        margin-top: 100px;
    }    
    .fa-long-arrow-alt-left{
        font-size: 25px;
    }
    .search-read-more-link-cont{
        width: 150px;
        bottom: 15px;
    }
    .search-black-border{
        width:80%;
        margin-top: 5px;
    }
}
@media (min-width:1111px) {

    .search-main-container{
        margin-top: 250px;
        margin-bottom: 50px;
    }
    .fa-long-arrow-alt-left{
        font-size: 25px;
    }
    .search-read-more-link-cont{
        width: 200px;
        bottom: 15px;
        padding-left: 40px;
    }
    .search-black-border{
        width:80%;
        margin-top: 5px;
    }
    
}
.search-picture-big-square{
    position: relative;
    display: inline-block;
    background-color: black;
    width:35px;
    height:35px;
    transform: rotate(45deg);
    bottom: 10px
}

.search-picture-small-square{
    background-color: #f6a619;
    color: #f6a619;
    position: relative;
    left: 22px;
    top: 8px;
    display: inline-block;
    width:20px;
    height: 20px;
    transform: rotate(45deg);
}
.search-black-border{
    border: 1px solid black;
}
 .read-more-link{
    font-weight: bold;
    text-decoration: none;
    color: rgb(92,79,62);
}
.read-more-link:hover{
    text-decoration: none;
    color: rgb(92,79,62);
}
.search-read-more-link-cont{
    border-bottom: 2px solid #f6a619;
    position: relative;
}