@media (min-width:320px) and (max-width:480px){
    .activities-main-titles{
        font-size: 25px;
    }
    .activities-container{
        margin-top:170px;
    }
    .activities-head-pic{
        width: 250px
    }
    .activities-flex-row{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .activities_col{
        margin: 10px;        
    }
    .activities_col-1{
        margin: 10px;
    }
}
@media (min-width:481px) and (max-width:640px){
    .activities-container{
        margin-top:170px;
    }
    .activities-head-pic{
        width: 350px
    }
    .activities-flex-row{
        display: flex;
        justify-content:center;
    }  
    .activities_col{
        margin: 10px;
    }
    .activities_col-1{
        margin: 20px;
    }
}
@media (min-width:641px) and (max-width:1200px){
    .activities-container{
        margin-top:170px;
    }
    .activities-head-pic{
        width: 400px
    }
    .activities-flex-row{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .activities_col{
        margin: 10px;
    }
    .activities_col-1{
        margin: 20px;
    }
}
@media (min-width:1201px) {
    .activities-container{
        margin-top:270px;
    }
    .activities-head-pic{
        width: 400px
    }
    .activities_col-1{
        margin-top: 30px;
    }  
}
.activities_col{
    border: #f6a619 solid 2px;
    display: flex;
    align-items: center;
    padding: 0px;
    width: 180px;
    height: 85%;
}
.activities_col-1{
    border: #f6a619 solid 2px;
    display: flex;
    align-items: center;
    padding: 0px;
    width: 220px
}
.activities-landescape-picture{    
    height:177px;
    width:250px;
    position: relative;
    top:40px;
    z-index: 2;
    left: 16px;
    border: 1px solid black;
    /* transition: opacity 0.2s,0.2s; */
}
.activities-landescape-picture:hover {
    filter: grayscale(50%)
}
.activities-landescape-picture:hover + .activities-title{
    z-index: 3;
}
.activities-title{
    position: relative;
    bottom: 40px;
    background-color: black;
    border-radius: 20px;
    color: white;
    z-index: 1;
    text-align: center;
    width: 80%;
    margin-right: 10px;
    padding: 5px;

}
.activities-title:hover{
    z-index: 3;
}

.activities-portrait-picture{
    display: inline-block;
    height:230px;
    width:170px;
    position: relative;
    right: 3px;
    bottom: 5px;
    z-index: 2;
    border: 1px solid black;
}
.activities-portrait-picture:hover{
    /* opacity: 0.8; */
    filter: grayscale(50%)
}
.activities-portrait-picture:hover + .activities-portrait-title{
    z-index: 3;
}

.activities-portrait-title{
    position: relative;
    bottom: 140px;
    right: 10px;
    background-color: black;
    border-radius: 20px;
    color: white;
    z-index: 1;
    text-align: center;
    width: 80%;
    margin-right: 10px;
    padding: 5px;
}
.activities-portrait-title:hover{
    z-index: 3;
}